<div #rowLayout cdkDropListGroup style="margin-top: 50px;">
    <!-- Based on the width of template reference #rowLayout' and item box width,
         columns per row can be calculated and a items table matrix is initialized -->
    <div
      fxLayout="row"
      *ngFor="let moviesRow of getItemsTable(rowLayout)"
      cdkDropList
      cdkDropListOrientation="horizontal"
      [cdkDropListData]="moviesRow"
      (cdkDropListDropped)="reorderDroppedItem($event)"
    >
    <!-- Component.reorderDroppedItem():
           reorders table/view model, update input model, and resize table matrix -->
      <div *ngFor="let movie of moviesRow; let i = index" cdkDrag>
        <div class="drag-placeholder" *cdkDragPlaceholder></div>

        <div fxLayoutAlign="center center" class="item-box">
            <div (click)="testClick(movie.title)">
                <img class="image" [src]="movie.poster != null ? movie.poster : placeholderImg">
                <h2>[{{getMovieIndex(movie.title)}}] {{movie.title}}</h2>
            </div>
        </div>
      </div>

    </div>

</div>