.Poster{
    display: block;
    /*max-width:400px;
    max-height:500px;
    /*
    2:3 Ratio, 125px increments
        OR
    2:3 Ratio, 150px increments
    */
    width: 300px;
    height: 450px;
    object-fit: cover;
    margin-right: auto;
    margin-left: auto;
    cursor: pointer;

}

div {
    background-color: transparent;
    outline: none;
    padding: 0px;
    width: 300px;
    height: auto;
    text-align: center;

}

.center {
    margin: auto;
}

h2 {
    display: block;
    border: 3px solid green;
    font-family: 'Open Sans';
    font-size: 25px;
    max-width:300px;
    height: 60px;
    line-height: 30px;
    color: white;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;

}

app-selector-btn {
    display: inline-block;
    border: 2px solid yellow;
    padding-top: 5px;
}
/*div:hover {
    background: rgba(39,62,84,0.82);

}*/