<header>
    <img class="bg" src="../assets/bg_images/bg_auditorium.jpg" />
    <div class="header-overlay">
        <h1 class="app-title">MovieRank</h1>
        <h6 class="app-body">Enhancing your ranking experience</h6>
        <img class="start-btn" src="../assets/btn_images/heart.svg" />
    </div>
</header>
<!--
<div class="Row">
    <app-card class="Col" cardID=1 title="Spirited Away" srcStr="https://cdn.shopify.com/s/files/1/0630/8509/products/pst1642spirited_grande.jpg?v=1561485446"></app-card>
    <app-card class="Col" cardID=2 title="The Wolf Children: Ame and Yuki" srcStr="https://i.pinimg.com/originals/00/c7/17/00c717b5417ec2f59dde1d55dd99d1c6.png"></app-card>
</div>
-->

<footer style="color: white; margin: auto; font-family: Open Sans; text-align: center;">
    <p>Created by Cameron Thomas 2020</p>
    <p style="display: inline-block;">Movie poster images received from:</p>
    <img style="height: 15px; display: inline-block; padding-left: 10px;" src="../assets/attribution/tmdb.svg" />
</footer>