input {
    display: block;
    padding: 10px;
    width: 100%;
    height: auto;
    margin: auto;
    box-sizing: border-box;
    border-radius: 8px;
    resize: none;
    font-family: "Open Sans";
    font-size: large;
    padding-right: 40px;
}

input:focus {
    outline: none;
    border: 3px solid lightgreen;
}

/* Input with image ex: 
input[type=text] {
  background-color: white;
  background-image: url('searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding-left: 40px;
}
*/

div {
    margin: auto;
    text-align: center;
    color: white;
    font-size: large;
    font-family: "Open Sans";
}

#inDiv {
    width: 400px;
    max-width: 80%;
    position: relative;
    overflow: auto;

}

#addBtn {
    -webkit-user-drag: none;
    max-height: 25px;
    max-width: 25px;
    padding-right: 5px;
    cursor: pointer;
    position: absolute;
    display: block;
    margin: auto;
    top: 50%;
    bottom: 50%;

    right: 5px;
    fill: greenyellow;
}

#title {
    padding-bottom: 0;
    color: white;
    font-size: large;
    font-family: "Open Sans";
}

#listDisplay {
    color: white;
    font-size: large;
    font-family: "Open Sans";
}