<div>
    <div id="inDiv">
        <img id="addBtn" (click)="onEnter(field.value)" src="../../assets/input_images/add.svg"/>
        
        <input #field
        placeholder="Enter a film title or paste a link..."
        (keyup.enter)="onEnter(field.value)"
        [value]="item"
        (paste)="onPaste($event)"
        (input)="item=field.value" >
    </div>
    <mat-progress-bar *ngIf="showBar" mode="indeterminate" style="width: 500px; margin: auto; margin-top: 20px; margin-bottom: 30px;"></mat-progress-bar>
    <button (click)="shuffle()" mat-icon-button color="white" aria-label="Example icon-button with a heart icon">
        <mat-icon>shuffle</mat-icon>
      </button>

    <!-- <button id="TestBtn" style="width: 50px; height: 50px;" (click)="getRemoteList('https://letterboxd.com/thatonecamel/list/my-life-in-film/')"></button> -->
    <button *ngIf="list.length == 0" class="whiteBtn" style="height: 40px; margin-top: 20px;" (click)="sampleList()" routerLink="/rank">Try a Sample List</button>
    <p style="font-size: small;">You can also paste a list of movies from letterboxd into the field above</p>

    <p *ngIf="list.length < 2 && list.length > 0" 
        style="font-style: italic;" >
        Atleast two movies are needed
    </p>

    <app-movie-edit [movies]="list" *ngIf="list.length > 0"></app-movie-edit>

    <button class="whiteBtn" *ngIf="list.length > 1" routerLink="/rank" (click)="passList()">Finish</button>
    <!--
    <ul style="color: white; font-size: large; font-family: Open Sans">
        <li *ngFor="let one of list">
        {{one}} |
    </ul>
    -->
    <h3 id="title" *ngIf="list.length != 0">Added Movies [{{list.length}}]</h3>
    <p id="listDisplay">{{displayList()}}</p>
</div>