/* You can add global styles to this file, and also import other style files */
@import './assets/fonts/stylesheet.css';

body {
    background-color: #222831;
    margin: 0;
}

.whiteBtn {
    display: block;
    margin-top: 10px;
    margin-left: auto !important;
    margin-right: auto !important;
    border-radius: 8px;
    border: 2px solid white;
    background-color: transparent;
    color: white;
    font-size: 20px;
    max-width: 400px;
    height: 45px;
    font-family: "Open Sans";
    font-weight: bold;
    cursor: pointer;
}

.darkBtn {
    display: block;
    margin-top: 10px;
    margin-left: auto !important;
    margin-right: auto !important;
    border-radius: 8px;
    border: 2px solid #222831;
    background-color: transparent;
    color: #222831;
    font-size: 20px;
    max-width: 400px;
    height: 45px;
    font-family: "Open Sans";
    font-weight: bold;
    cursor: pointer;
}