<div class="list" cdkDropList (cdkDropListDropped)="drop($event)">
    <button id="editBtn" (click)="edit = !edit">{{edit ? 'Done' : "Modify"}}</button>
    <div class="editable" *ngFor="let item of movies" cdkDrag>
        <input #field type="text"
        [value]="item.title"
        (keyup.enter)="editTitle(item, field.value)"
        (change)="editTitle(item, field.value);"/>

        <img *ngIf="edit" (click)="delete(item)" src="../../assets/input_images/delete.svg" />
    
    </div>

</div>