<div class="Row" style="margin: auto; padding-top: 10px; margin-top: 100px;">
    <app-card class="Col" cardID=1 srcStr="https://cdn.shopify.com/s/files/1/0630/8509/products/pst1642spirited_grande.jpg?v=1561485446"></app-card>
    <app-card class="Col" cardID=2 srcStr="https://i.pinimg.com/originals/00/c7/17/00c717b5417ec2f59dde1d55dd99d1c6.png"></app-card>
    <!-- <h3 id="title">Added Movies [{{movies.length}}]</h3>
    <p id="listDisplay">{{displayList()}}</p> -->
    <button class="greenBtn" style="margin-bottom: 10px;" routerLink="/results">Finished?</button>
</div>
<!--
<div #rowLayout cdkDropListGroup style="margin-top: 50px;">
    <!-- Based on the width of template reference #rowLayout' and item box width,
         columns per row can be calculated and a items table matrix is initialized
    <div
      fxLayout="row"
      *ngFor="let moviesRow of getItemsTable(rowLayout)"
      cdkDropList
      cdkDropListOrientation="horizontal"
      [cdkDropListData]="moviesRow"
      (cdkDropListDropped)="reorderDroppedItem($event)"
    >
      <!-- Component.reorderDroppedItem():
           reorders table/view model, update input model, and resize table matrix
      <div *ngFor="let movie of moviesRow; let i = index" cdkDrag>
        <div class="drag-placeholder" *cdkDragPlaceholder></div>

        <div fxLayoutAlign="center center" class="item-box">
            <div (click)="testClick(movie.title)">
                <img class="image" [src]="movie.poster != null ? movie.poster : placeholderImg">
                <h2>[{{getMovieIndex(movie.title)}}] {{movie.title}}</h2>
            </div>
        </div>
      </div>

    </div>

</div>
-->