.Row {
    display: block;
    width: 80%;
    min-width: 320px;
    background-color: #f6f8fb;
    border: 2px solid lightgreen;
    border-radius: 8px;
    text-align: center;

}
.Col {
    margin: auto;
    display: inline-block;
    padding-right: 10px;
    padding-left: 10px;
}