.Row {
    display: table;
    /*width: 100%; /*Optional*/
    table-layout: fixed; /*Optional*/
    border-spacing: 10px; /*Optional*/
    background-color: #f6f8fb;
    border-color: white;
    border-radius: 8px;

}
.Col {
    display: table-cell;
    overflow-y: scroll;
}